.section {
  height: 100vh;
  color: black;
  background: #fbe8d2;
  border-radius: 5px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--bs-box-shadow);
}
