.section {
  height: 100vh;
  /* color: black; */
  /* background: #fbe8d2; */
  /* box-shadow: var(--bs-box-shadow); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImg {
  border-radius: 100%;
  max-width: 100%;
  max-height: 25rem;
}

.xpHeadItem:hover {
  color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

/* MEDIUM */
@media (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
}

/* LARGE */
@media (min-width: 992px) {
}
